

  <div id="navbar">
    <div class="container-class">
      <div class="ribbon">  <a href="#">stay tuned <br>support mobile soon</a>   </div>
      <div id="image" routerLink='/'>
        <img src="assets/logo.svg" width="50px" height="50px">
        <p>Covid-<span id='myCustomSpan'>19</span></p>
      </div>
      
      <!-- toggle switch between screen and other screen -->
      <div class="link">
        
        <ul>
          <li ><a routerLink='/' href="#"><span>Overview</span></a></li>
          <li ><a routerLink='countries' href="#"><span>countries</span></a></li>
          <li ><a routerLink='Info' href="#"><span>Info</span></a></li>
        </ul>
      </div>

      </div>
      </div>