<!-- <p>home works!</p> -->
<div class="jumbotron bg-white text-center">
    <h1 class="display-4">corona covid-19 tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit deserunt obcaecati non nobis reprehenderit cumque? Impedit aperiam amet quaerat ea, deserunt vel saepe voluptate numquam ut
        . Adipisci reprehenderit mollitia libero.</p>
     <hr class="my-4">
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ex maxime ea molestias dignissimos amet nam pariatur repellendus, debitis ipsum saepe magni blanditiis, eligendi vero voluptatum ducimus autem nostrum quis.

     </p>   
</div>