<div class="what">
    <div class="containeer-class">
        <div class="talk">
            <h2>what is novel coronavirus ?</h2>
            <p>coronavirus disease(covid-19)is an infectious disease</p>
            <p>caused by new virus. </p>
            <p>covid-19 virus spreads primarily through droplets of saliva or discharge from the nose<br> when an infected person coughs or sneezes,so it's important that you also
                <br> practice respiratory etiquette (for example,by coughing into a flexed elbow).</p>

        </div>
        <div class="image-class"><img src="assets/Capture4.JPG"></div>
    </div>
</div>

<div class="symptoms">
    <div class="containeer-class">
        <div class="image-class"><img src="assets/covid-19-symptoms.jpg"></div>
        <div class="talk">
            <h2>symptoms</h2>
            <p>the covid-19 virus affects different people in different ways. covid-19 is a respiratory disease and most infected people will develop mild to moderate symptoms and recover without requiring special treatment.</p>
            <p>people who have underlying medical conditions and those over 60 years old have a higher risk of developing severe disease and death.</p>
            
        </div>
    </div>
</div>

<div class="prevention">
    <div class="containeer-class">
        <div class="talk">
            <h2 class="text-center">prevention</h2>
            <p>use warm water and soap and rub your hands for at least 20 seconds,work the lather to your wrists,between your finger,and under your fingernails.<br>
                you can also use an antibacterial and antiviral soap,use hand sanitizer when yo cannot wash your hands properly, Rewash your hands several times a day,<br>espiecially after touching anything including your phone or laptop.</p>
                
        </div>
        <div class="prevention-video">
          <div class="mydiv">
                <video class="animation" playsinline="" preload="" autoplay="" loop="" muted="" width="100%" height="auto">
                    <source src="assets/handwashing.mp4" type="video/mp4">
                </video>
                
            </div>

            <div class="mydiv">
                <video class="animation" playsinline="" preload="" autoplay="" loop="" muted="" width="100%" height="auto">
                    <source src="assets/avoid-conntact.mp4" type="video/mp4">
                </video>
            </div>

            <div class="mydiv">
                <video class="animation" playsinline="" preload="" autoplay="" loop="" muted="" width="100%" height="auto">
                    <source src="assets/face-mask.mp4" type="video/mp4">
                </video>
            </div>

            <div class="mydiv">
                <video class="animation" playsinline="" preload="" autoplay="" loop="" muted="" width="100%" height="auto">
                    <source src="assets/quarantine.mp4" type="video/mp4">
                </video>
            </div>

            <div class="mydiv">
                <video class="animation" playsinline="" preload="" autoplay="" loop="" muted="" width="100%" height="auto">
                    <source src="assets/hand-sanitizer.mp4" type="video/mp4">
                </video>
            </div>

            <div class="addingMoreSpacing"></div>
        </div>
    </div>
</div>